#root {
  display: grid; /* Set the root element as a grid container */
  grid-template-rows: auto 1fr auto; /* Define grid template rows for header, dashboard, and footer */
  height: 100vh; /* Ensure the grid container fills the entire viewport height */
  text-align: center;
}

body {
  background-color: white; /* Set the background color to red */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

.header {
  background-color: white;
  width:100%;
  position: fixed; 
  z-index: 1000;
  border-bottom: 1px solid #ccc;
}

.dashboard {

  position: absolute;
  top: calc(15% + 1px);
  left: 0;
  width: 100%;
}

.footer {
  background-color: white;
  border-top: 1px solid #ccc;
  display: flex; 
  justify-content: center; 
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
}


.footer-icon {
  width: 64px;
  height: 64px; 
}

.footer-button {
  background-color: transparent; 
  border: none; 
  padding: 0; 
  font-weight: bold;
  font-size: 1em;
  margin-top: 5px;
  margin: 25px;
}

.no-padding {
   padding: 0 !important;
   margin: 0 !important;
}

.search-bar {
  width: 100%; 
  max-width: 80%;
  height: 4vh;
  margin-bottom: 1vh;
  text-align: center;
  border-radius: 10px;
  border:0;
  background-color: #f0f0f0;
}

*:focus {
  outline: none;
}

.search-bar button {
  border: none; 
  outline: none;
}

.product-list {
  height: calc(70vh);
}

.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden; /* Hide overflowed content */

}

.product-details {
  flex-grow: 1;
  background-color: red;
  border-radius: 0 0 10px 10px; /* Adjusted border radius to match card */
}



.add-to-cart-btn {
  position: absolute; 
  bottom: 15px;
  right: 15px; 
  width: 30px;
  height: 30px; 
  border: none; 
  background-color: purple; 
  color: white;
  font-weight: bold;
  border-radius: 20%; 
  cursor: pointer; 
}
